- const testing = false
- const siteTitle = "Not Poutine, FYI."
- const siteURL = "https://ahoylemon.github.io/notpoutine.fyi"
- const description = "a running collection of menu items which claim to be poutine, but aren't."
- const d = new Date()
- const lastUpdated = d.toISOString()