<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Not Poutine, FYI.</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link href="https://fonts.googleapis.com/css?family=EB+Garamond:400,400i,700,700i&amp;display=swap" rel="stylesheet">
    <link href="css/site.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="a running collection of menu items which claim to be poutine, but aren't.">
    <meta http-equiv="last-modified" content="2020-00-12@12:43:11">
  </head>
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="192x192" href="/android-chrome-192x192.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#d12222">
  <meta name="msapplication-TileColor" content="#d12222">
  <meta name="theme-color" content="#efedd0">
  <!-- Twitter-->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:creator" content="@AhoyLemon">
  <meta name="twitter:title" content="Not Poutine, FYI.">
  <meta name="twitter:description" content="a running collection of menu items which claim to be poutine, but aren't.">
  <meta name="twitter:image" content="/og-wide.png">
  <meta name="twitter:url" content="">
  <meta property="og:title" content="Not Poutine, FYI.">
  <meta property="og:type" content="website">
  <meta property="og:image:width" content="1200">
  <meta property="og:image:height" content="630">
  <meta property="og:description" content="a running collection of menu items which claim to be poutine, but aren't.">
  <meta property="og:url" content="">
  <meta property="og:image" content="/og-wide.png">
  <body>
    <div id="app" v-cloak>
      <header class="site-header">
        <h1>Not Poutine, FYI</h1>
        <nav class="questions"><a id="Confused" @click="scrollToAnchor('#Explainer')">Confused?</a></nav>
      </header>
      <main class="crimes">
        <template v-for="(crime, index) in crimes">
          <article class="crime add-a-crime" v-if="index == Math.floor( (crimes.length / 2) - 1 )">
            <div class="details">
              <h2 class="name"> <a href="https://forms.gle/1zV1dYj7vh8t81wT9">Report A Crime</a></h2>
              <div class="price"></div>
              <figure style="background-image:url(img/crimes/police-poutine.jpg)"></figure>
              <div class="description">
                <p class="empty" style="font-style:normal">Are you aware of a poutine crime which you'd like to report here? Great!  <a href="https://forms.gle/1zV1dYj7vh8t81wT9">Use this form</a>. Your crime report will be considered for addition to the site.</p>
              </div>
            </div>
          </article>
          <article class="crime">
            <div class="details">
              <h2 class="name">{{crime.name}}</h2>
              <div class="price"> <abbr title="all prices listed in Canadian dollars, conversion is.... accurate enough."> <sup>$</sup><span>{{crime.price}} </span></abbr></div>
              <figure v-bind:style="{ backgroundImage: 'url(img/crimes/'+crime.pic+')' }">
                <!--img(:src="'img/crimes/'+crime.pic")-->
              </figure>
              <div class="description">
                <p class="empty" v-if="!crime.description">no description given</p>
                <p v-if="crime.description">{{crime.description}}</p>
              </div>
              <ul class="requirements">
                <li class="yes" v-if="crime.requirements.fries">fries</li>
                <li class="no" v-if="!crime.requirements.fries">fries</li>
                <li class="yes" v-if="crime.requirements.curds">curds</li>
                <li class="no" v-if="!crime.requirements.curds">curds</li>
                <li class="yes" v-if="crime.requirements.gravy">gravy</li>
                <li class="no" v-if="!crime.requirements.gravy">gravy</li>
              </ul>
            </div>
            <div class="location">
              <div class="place-name">{{crime.place}}</div>
              <div class="region" v-if="crime.city &amp;&amp; crime.state"><span class="city">{{crime.city}}, </span><span class="state">{{crime.state}}</span></div>
              <div class="region" v-else-if="crime.city &amp;&amp; crime.country"><span class="city">{{crime.city}}, </span><span class="country">{{crime.country}}</span></div>
            </div>
          </article>
        </template>
      </main>
      <aside class="explainer" id="Explainer">
        <p>
           Originating from Quebec,  <strong>poutine</strong> is a simple dish made with french fries, brown gravy and fresh cheese curds. Sometimes people add other things to their poutine, such as scallions or pork belly 
           or pickled onion or kimchi and <i>that is totally fine.</i>  As long as the three basic ingredients are covered, it's poutine.
        </p>
        <p>This website is an archive of things that self-describe as poutine, which, just so you know, aren't.</p>
        <p>This website was done by <a href="https://ahoylemon.xyz">Lemon</a>, who has done a number of other websites of similar value, such as <a href="https://damn.dog">damn.dog</a> and <a href="https://greatsex.tips">greatsex.tips</a>.</p>
        <p>Want to add your own poutine crime? <i>That's great! </i><a href="https://forms.gle/1zV1dYj7vh8t81wT9">Use this form </a> and it will be considered for the collection.</p>
      </aside>
    </div>
    <div class="javascripts">
      <script src="js/libraries/vue.full.js"></script>
      <script>const testing = true;</script>
      <script src="js/min/site.min.js?updated2020-00-12@12:43:11"></script>
    </div>
  </body>
</html>