$cardsize: 420px;

.crimes {
  display:grid; grid-template-columns: repeat(auto-fill, minmax($cardsize, 1fr)); gap: $gap; padding:$padding;

  .crime { padding:$padding; background:#fff; font-size:20px;  border-radius: 3px; box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    display: flex; flex-direction: column; justify-content: space-between;
    .details { width:100%; display: grid; grid-template-columns: 1fr 1fr 1fr 85px; //grid-template-columns: repeat(4, 1fr);
      .name, .price { font-size:140%; }
      .name { grid-column: span 3; white-space: nowrap; overflow:hidden; text-overflow: ellipsis; position: relative; z-index: 3;
        &:hover { overflow: visible; background:#fff; padding-right: 0.35em; }
        
      }
      abbr { text-decoration: none; cursor: help; white-space: nowrap;
        sup { font-size:80%; padding-right: 0.1em; }
      }
      figure { grid-column: span 4; margin: $padding (0 - $padding); height:14em;  background-size: cover; background-position: center; }

      .description { grid-column: span 3; padding-right: 1em;
        p {
          &:before { content: '“'; }
          &:after  { content: '”'; }
    
          &.empty { font-style: italic;
            &:before, &:after { content:''; }
          }
        }
      }

      .requirements {
        li.yes { 
          &:before { content: '✔️'; padding-right: 0.5em;}
        }
        li.no { 
          &:before { content: '❌'; padding-right: 0.5em; text-decoration: none; }
        }
      }

    }


    .location { width:100%; padding-top:$padding;
      .place-name, .region { display: inline-block; }
      .place-name { font-weight: $bold; }
      .region { 
        &:before { content: ' | '; }
      }

      //-.place-name { grid-column: span 4; }
    }
  }
}


@media (max-width:583px) {
  .crimes { grid-template-columns: 1fr;
    .crime { font-size:18px;
      .details {
        .name, .price { font-size:1.25em; }
        figure { height:50vw; }
      }
    }
  }
}