- var pageTitle = null;
include partials/_variables
include partials/_mixins

doctype html
html(lang="en")
  
  include partials/_head.pug
    
  body
    #app(v-cloak)

      header.site-header
        h1 Not Poutine, FYI

        nav.questions
          a#Confused(@click="scrollToAnchor('#Explainer')" onClick="sendEvent('click','Confused?','explainer')") Confused?


      main.crimes

        template(v-for="(crime, index) in crimes")

          article.crime.add-a-crime(v-if="index == Math.floor( (crimes.length / 2) )")
            .details
              h2.name 
                a(href="https://forms.gle/1zV1dYj7vh8t81wT9" onClick="sendEvent('click','form','https://forms.gle/1zV1dYj7vh8t81wT9')") Report A Crime
              .price
              figure(style="background-image:url(img/crimes/police-poutine.jpg)")
              .description
                p.empty(style="font-style:normal") Are you aware of a poutine crime which you'd like to report here? Great!  
                  a(href="https://forms.gle/1zV1dYj7vh8t81wT9" onClick="sendEvent('click','form','https://forms.gle/1zV1dYj7vh8t81wT9')") Use this form
                  | . Your crime report will be considered for addition to the site.


          article.crime
            .details
              h2.name {{crime.name}}
              .price 
                abbr(title="all prices listed in Canadian dollars. Conversion is accurate enough.") 
                  sup $
                  span {{crime.price.toFixed(2)}} 
              figure(v-bind:style="{ backgroundImage: 'url(img/crimes/'+crime.pic+')' }")
                //img(:src="'img/crimes/'+crime.pic")
              .description
                p.empty(v-if="!crime.description") no description given
                p(v-if="crime.description") {{crime.description}}
              ul.requirements
                li.yes(v-if="crime.requirements.fries") fries
                li.no( v-if="!crime.requirements.fries") fries
                li.yes(v-if="crime.requirements.curds") curds
                li.no( v-if="!crime.requirements.curds") curds
                li.yes(v-if="crime.requirements.gravy") gravy
                li.no( v-if="!crime.requirements.gravy") gravy
            .location
              .place-name {{crime.place}} 
              |  fart
              .region(v-if="crime.city && crime.state")
                span.city {{crime.city}}, 
                span.state {{crime.state}}
              .region(v-else-if="crime.city && crime.country")
                span.city {{crime.city}}, 
                span.country {{crime.country}}

      aside.explainer#Explainer
        p 
          | Originating from Quebec,  
          strong poutine
          |  is a simple dish made with french fries, brown gravy and fresh cheese curds. Sometimes people add other things to their poutine, such as scallions or pork belly 
          |  or pickled onion or kimchi and 
          i that is totally fine.
          |   As long as the three basic ingredients are covered, it's poutine.
        p This website is an archive of things that self-describe as poutine, which, just so you know, aren't.
        p This website was done by 
          a(href="https://ahoylemon.xyz" onClick="sendEvent('click','website','ahoylemon.xyz')") Lemon
          | , who has done a number of other websites of similar value, such as 
          a(href="https://damn.dog" onClick="sendEvent('click','website','damn.dog')") damn.dog
          |  and 
          a(href="https://greatsex.tips"  onClick="sendEvent('click','website','ahoylemon.xyz')") greatsex.tips
          | .
        p Want to add your own poutine crime? 
          i That's great! 
          a(href="https://forms.gle/1zV1dYj7vh8t81wT9" onClick="sendEvent('click','form','https://forms.gle/1zV1dYj7vh8t81wT9')") Use this form 
          |  and it will be considered for the collection.



      //-main(style="height:100vh; display:flex; align-items:center; justify-content:center;")
        .inner
          h1(v-text="h1") 

    include partials/_javascripts